.quad__block {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  padding-bottom: 100px;
}
.quad__img {
  width: 1220px;
  height: 705px;
  margin-left: 180px;
}
.quad__right {
  position: relative;
  right: 300px;
  width: 906px;
  height: 584px;
  background-color: #ffffff;
}
.quad__right_nav {
  padding-left: 80px;
  padding-right: 80px;
}
.quad__p2 {
  font-family: Sen;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -2px;
}
