.six_block {
  width: 1480px;
  height: 464px;
  background-color: #fbf6ea;
  margin-left: 180px;
  margin-bottom: 128px;
  display: flex;
  justify-content: space-between;
}
.six__block_left {
  width: 540px;
  margin: 80px 0 74px 112px;
  border-right: 1px solid #cfcbcb;
}
.six__block_rigth {
  width: 740px;
  margin-top: 80px;
}
.six_block_p1 {
  font-family: inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3px;
  margin-bottom: 12px;
}
.six_block_p2 {
  font-family: Sen;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -2px;
  margin-bottom: 16px;
}
.six_block_p3 {
  font-family: inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
.six_block_p4 {
  font-family: Sen;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 124px;
  margin-right: 174px;
}
.six_block_p5 {
  font-family: Sen;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
.six_block_p6 {
  font-family: inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #9f9f9f;
}
.six__img {
  display: flex;
}
.six_p5_p6 {
  margin-left: 10px;
}
.six_block_circle {
  display: flex;
  margin-left: 300px;
}
.white {
  width: 48px;
  height: 48px;
  background-color: white;
  border-radius: 50%;
  margin-right: 30px;
  margin-top: 10px;
}
.black {
  width: 62px;
  height: 62px;
  background-color: #232536;
  border-radius: 50%;
}
.white:hover {
  background-color: #d4d4d4;
}
.black:hover {
  background-color: #4d4f63;
}
.img__btn {
  margin: 15px;
}
.img__btn2 {
  margin: 21px;
}
