.message__block {
  display: flex;
  justify-content: space-between;
  margin-top: 137px;
  padding-bottom: 133px;
}
.message__block_blocks {
  display: flex;
  justify-content: space-evenly;
  width: 540px;
  height: 190px;
  background-color: #66c05d;
  padding-top: 35px;
}
.message__block_nav {
  color: #ffffff;
}
.message__block_img {
  padding-top: 30px;
  width: 140px;
  height: 106px;
}
.message__block_p1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 25px;
}
.message__block_p2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  padding-bottom: 25px;
}
.message__block_inp {
  padding-left: 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  width: 225px;
  height: 35px;
  outline: none;
  background-color: #ffffff;
  border-radius: 30px;
  border: 1px solid #ffffff;
}
.message__block_btn {
  width: 170px;
  height: 35px;
  background-color: #66c05d;
  color: #ffffff;
  border-radius: 30px;
  border: 2px solid #ffffff;
}
.message__block_btn:active {
  transform: translate(1px, 1px);
  background-color: #83d47c;
}
.message__block_img2 {
  padding-top: 30px;
  width: 210px;
  height: 126px;
}
@media (max-width: 804px) {
  .message__block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .message__block_blocks {
    margin-top: 20px;
  }
  .marg {
    margin-left: 0;
  }
}
@media (max-width: 540px) {
  .message__block_blocks {
    width: 450px;
    height: 160px;
  }
}
@media (max-width: 450px) {
  .message__block_blocks {
    height: 170px;
    width: 300px;
  }

  .message__block_img {
    padding-top: 30px;
    width: 100px;
    height: 70px;
  }
  .message__block_p1 {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    padding-bottom: 25px;
  }

  .message__block_inp {
    width: 150px;
    height: 35px;
  }
  .message__block_img2 {
    padding-top: 30px;
    width: 150px;
    height: 70px;
  }
  .message__block_btn {
    width: 150px;
    height: 35px;
  }
}
@media (max-width: 426px) {
  .mbb1 {
    margin-top: 200px;
  }
}
