.firstblock {
  padding-top: 80px;
}

.firstblock__a {
  font-family: roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #444240;
}

.firstblock__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 12px;
}

.firstblock__img {
  width: 101px;
  height: 1px;
}

.firstblock__a2 {
  font-family: Playfair Display, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #1b1a17;
  margin-left: 18px;
}

.firstblock__padd {
  padding-top: 10px;
}

.firstblock__h2 {
  font-family: Playfair Display, sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 52px;
}

.firstblock__p1 {
  padding: 40px 0 0 0px;
  font-family: Playfair Display, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 3%;
}

.firstblock__p2 {
  padding: 10px 0 0 0px;
  font-family: Prata, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.firstblock__product {
  padding: 0px 10px 0px 20px;
  margin-right: 25px;
  width: 370px;
  height: 467px;
  background-color: #fdfdfb;
  margin-bottom: 80px;
}

.firstblock__watches {
  width: 313px;
  height: 313px;
  border: 1px solid #74743d;
  border-radius: 50%;
}

.firstblock__line {
  width: 30px;
}