.secondblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1090px;
}

.secondblock__color {
  position: relative;
  width: 418px;
  height: 519px;
  background-color: #f7f5ef;
}

.secondblock__color2 {
  position: relative;
  width: 898px;
  height: 519px;
  background-color: #fdfdfb;
}

.secondblock__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 150px;
  margin-top: 140px;
}

.secondblock__img {
  width: 521px;
  height: 414px;
  right: 70%;
  top: 11%;
  position: absolute;
}

.secondblock__imgg1 {
  position: absolute;
  top: 0;
  z-index: 0;
}

.secondblock__imgg2 {
  position: absolute;
  left: 70%;
  top: 2%;
  z-index: 0;
}

.secondblock__h2 {
  font-family: Playfair Display;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 38px;
}

.secondblock__p {
  font-family: roboto Display;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 40px;
}

.secondblock__btn {
  width: 205px;
  height: 64px;
  background-color: #d4b098;
  font-family: roboto Display;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  border: 1px solid #d4b098;
  color: #ffffff;
}

.secondblock__btn:active {
  background-color: #bb9b85;
}